#sudo nomad agent -config=/etc/nomad.d/server.hcl -bind={{ ansible_facts['eth1']['ipv4']['address'] }} -data-dir=/opt/nomad

server {
  enabled = true
  bootstrap_expect = 1
}

consul {
  address = "{{ ansible_facts['eth1']['ipv4']['address'] }}:8500" # host ip
}
data_dir = "/opt/nomad"
bind_addr = "{{ ansible_facts['eth1']['ipv4']['address'] }}"
